Package: enigma2-plugin-skin-arctic
Version: 3.1.2
Description: Arctic Skin for VTI
Section: skin
Priority: optional
Maintainer: hmmmdada
Architecture: all
Depends:
Conflicts: 
License: None
Source: GIT
OE: enigma2-plugins
